:root {
  --nav-size: 250px;
  --border: 1px solid #8f1d1d;
  --border-radius: 8px;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--nav-size);
  background-color: rgb(var(--secondary-color));
  border-bottom: var(--border);
  width: 100%;
}

.navUl {
  display: flex;
  justify-content: start;
  list-style: none;
}

.nav li {
  padding: 10px;
  border-right: 1px solid rgb(var(--primary-color));
}

.nav li:last-child {
  border-right: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
